/*
CSS Aplicación reserva de turnos
Versión: 2021.01.01
Author: TeamPRO
GITHUB: gabrielgonzalezcastellvi / MarianMdna
Contact: +5492612590713 / +5492614699395
*/

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
    
}



body {
	font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    
	
}


div.panel{
	
    max-width: 500px;
    width: 90%;
	margin: 2em auto;
	padding: 1em 0;
	
}


/*Login*/
div.login-panel{
    border: solid 1px #f2f2f2;
    max-width: 500px;
    width: 90%;
    margin: auto;
    

}

/*formularios*/
.formulario {
	padding: 30px;
	margin-bottom: 30px;
}

.formulario .form-group{
	width: 100%;
	margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="number"],
.formulario input[type="email"] {
	padding: 15px;
	font-size: 18px;
	line-height: 18px;
	border: solid 1px grey;
	vertical-align: top;
}

.formulario .icono {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #333333;
	display: inline-block;
	color:#fff;
	vertical-align: top;
}

.formulario .icono.izquierda {
	margin-right: 4px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.formulario .usuario,
.formulario .password {
	width: calc(100% - 52px);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.formulario .password_btn {
	width: calc(100% - 105px);
}

.formulario .error ul {
	padding: 0 15px;
}

.formulario .error ul li {
	margin-bottom: 10px;	
}

.formulario .submit-btn {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #ec9700;
	display: inline-block;
	color:#fff;
	
	cursor: pointer;

	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.registry {
	margin: 10px 0;
}

/*formulario nueva reserva*/
.form-booking{

	padding: 0.5em 0.5em;
	
}
h3.form-title{
	margin-top: 1em;
	margin-bottom: 0.5em;

}
select.form-select{
	margin: 0.5em 0;
	
}
#btn-buscar{
	margin: 1em 0;
}







/*header*/
section.client-brand {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
}
section#client{
    text-align: center;
    font-size: 26px;
}
h3.app-name{
	font-family: 'Londrina Solid', cursive;
	font-size: 26px;
	color: #333333;
}
/*footer*/
section#developer{
    margin-top: 2em;
    padding: 3em 0;
    text-align: center;
    font-size: 10px;
    background-color: #f2f2f2;
    
}


/*RESPONSIVE*/
@media only screen and (max-width: 700px) {

    section#developer{
        margin-top: 5em;
        
    }

}
